<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 API</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script type="text/javascript" src="/script.js"></script> <!-- 외부 JS 파일 추가 -->
</head>
<body>
    <div class="header">
        <a class="logo" href="index.html">Movis<span class="sd">삼둘</span></a>
        <a class="openapi" href="index.html">OPEN API</a>
        <a class="key" href="index.html">키 발급/관리</a>
    </div>
    <div class="container">
        <div class="intro">
            <h1>OPEN API 서비스</h1>
            <p>엔코아 삼둘무비전산망에서 제공하는 오픈API 서비스로<br>
                더욱 풍요롭고 편안한 영화 서비스를 즐겨보세요.</p>
        </div>
        <div class="formArea">
            <form id="searchForm">
                <select name="types" id="type">
                    <option value="nm">제목</option>
                    <option value="gn">장르</option>
                    <option value="pn">감독명</option>
                </select>
                <input type="text" placeholder="입력" required>
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/script.js"></script>
</body>
</html>
